body{
  margin:0;
  padding:0;
  background: linear-gradient(#49abfc, rgb(243, 219, 80));
  font-family:montserrat,Arial,Helvetica,sans-serif;
}

#root{
  margin:0 10px;
  position:relative;
  min-height:90vh
}

html, body {
  min-height: 100%;
}