.TodoCounter{
    color:white;
    text-align:center;
    margin:0;
    padding:10px;
    
}

.TodoCounter span{
    font-weight:700
}

h1 {
    font-size:37px;
    color:white;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.486);
    font-weight:800;
    font-family:'Courier New', Courier, monospace;
}

h2 {
    font-size: 23px;
    font-weight:300
}

@media (max-width: 770px) {
    .TodoCounter {
        padding:5px;
    }
}