.TodoSearch{
    background:#f9fbfc;
    border-radius:10px;
    border:5px solid rgb(243, 219, 80);
    margin: 5px 24px;
    height:50px;
    width:33%;
    font-size:22px;
    text-align:center;
    font-family: montserrat,Arial,Helvetica,sans-serif;
    font-weight:400;
    color:#1e1e1f;
    box-shadow:0 5px 50px rgba(32,35,41,.25);
    margin-left: 52px;
    
}
.TodoSearch::placeholder{
    color: gray;
    font-family:montserrat,Arial,Helvetica,sans-serif;
    font-weight:400
}
.TodoSearch::placeholder:last-child{
    font-size:35px;
}
.TodoSearch:focus{
    outline-color:#61dafa;
}

@media (max-width: 770px) {
    .TodoSearch{
        width: 90%;
        margin: 10px;
    }
}